/* Set font size for rem measurements*/
body {
  font-size: 14px;
}

main {
  width: 100%;
}

/* Style attributes for top menu*/
#menu-bar {
  height: max-content;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1px;
  border: 4px solid green;
  box-shadow: 5px 5px 8px gray;

}

nav {
  background-color: white;
}
/*Set menu to flex for more responsive design*/
#menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*Media query for flex top menu*/
@media screen and (max-width: 800px){
  #menu {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.menu_item {
  color: green;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2rem;
  margin: auto;
}

/*Media query for flex top menu*/
@media screen and (max-width: 680px){
  .menu_item {
    font-size: 1rem;
  }

  #menu {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Style attributes for menu links*/
#menu a {
  color: green;
  text-decoration: none;
}

#menu a:hover {
  background-color: darkgreen;
  color: white;
}

/*General style attributes for sections of page*/
section {
  background-color: white;
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 4rem;
  border: 4px solid green;
  box-shadow: 5px 5px 8px gray;
}

/*Special styles for 'about' section as it has differences with rest of page*/
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Special style attributes for main page heading*/
h1 {
  font-family: Aldrich;
  font-size: 5rem;
  font-weight: 400;
  color: black;
  text-shadow: 3px 3px 10px yellowgreen;
  line-height: 100%;
  text-align: center;
}

/* Media queries for h1*/
@media screen and (max-width: 765px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 642px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 521px){
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 397px){
  h1 {
    font-size: 1.5rem;
  }
}

#my-photo {
  max-width: 100%;
  border-radius: 50%;
  border: 0.5rem solid greenyellow;
}

/* Special style attributes for main subheading*/
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: yellowgreen;
  text-align: center;
}

/* Media queries for h2*/
@media screen and (max-width: 705px){
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 594px){
  h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 455px){
  h2 {
    font-size: 1rem;
  }
}

/* Distinctive style for self introduction to make it stand out*/
#sales-pitch {
  background-color: darkgreen;
  color: white;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  margin-bottom: 30px;
}

/* Special style attributes for section headings*/
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: green;
}

/* Style attributes for body text*/
p, ul, a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

/* Media query for body text if viewport is less than 600px in width*/
@media screen and (max-width: 600px){
  p, ul, a, q {
    font-size: 12px;
  }
}

/* Styles for external links*/
a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: yellowgreen;
}

/* Styles for quotes to make them stand out more*/
q {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: gray;
}

.fa-star {
  color: yellowgreen;
}

/* Styles for unordered list bullets*/
ul {
  list-style-type: square;
}

li::marker {
  color: green;
}

/*Style attributes for back to top button*/
.top-button {
  background-color: green;
  color: white;
  padding: 8px 20px;
  border-radius: 5%;
  text-align: center;
  text-decoration: none;
}

.top-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(225, 253, 225);
  box-shadow: 2px 2px 14px 10px greenyellow;
}
